{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CV</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Resume</legend>
    <p>Name: <br>{{ y_name }}</p><hr>
    <!--<p>Image: {{ img }}</p>-->
    <p>Position:<br> {{ pos }}</p><hr>
    <p>Profile:<br> {{ prf }}</p><hr>
    <p>Location:<br> {{ loc }}</p><hr>
    <p>Email:<br> {{ mail }}</p><hr>
    <p>Phone:<br> {{ num }}</p><hr>
    <p>LinkedIn: <br>{{ ln }}</p><hr>
    <p>Experience:<br> {{ exp }}</p><hr>
    <p>Education:<br> {{ eud }}</p><hr>
    <p>Languages: <br>{{ lan }}</p><hr>
    <p>Skills:<br> {{ skl }}</p><hr>
    <p>Certificate: <br>{{ certifi }}</p><hr>
</fieldset>
    </form>  
</body>
</html>
